-
  const item = "Joe's item";
  const items = ['item a', 'item b', 'item c'];

div
  ul
    li= item
    li= items[0]
    li= items[1]
    li= items[2]
    li
      = items[0]
      = items[1]
      = items[2]
    li= items

    li.
      item 4 is
      the best
      item in
      the world